body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fce4ec; /* Toz pembe */
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#start-btn {
    background-color: #ffb7c5;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#game-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #e1bee7; /* Oyun başlayınca pastel mor */
}

#player {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 60px; /* Boyutu kendine göre ayarla */
}

#score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
}
